# dependencies
node_modules/
bun.lock
.pnpm-debug.log*

# build
dist/
.astro/

# env
.env
.env.local
.env.production.local
.env.development.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# editor
.vscode/
.idea/

# misc
*.log